{% extends 'appcontame/index.html' %}


{% block titulo_pagina %}
<title>Contame App - Acerca</title> 
{% endblock titulo_pagina %}
    

{% block titulo %}
<h1 class="h3 mb-0 text-gray-800">Acerca de mi</h1>
{% endblock titulo %}

{% block contenido %}
<div class="card mb-4">
    <h1 style="color: #5e9ca0;">Mi nombre es <span style="color: #2b2301;">Alexis Marcos Ferretto</span></h1>
    <h2 style="color: #2e6c80;">Algunos datos personales:</h2>
    <ol style="list-style: none; font-size: 14px; line-height: 32px; font-weight: bold;">
    <li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/01-interactive-connection.png" alt="interactive connection" width="45" /> Edad: 39 a&ntilde;os</li>
    <li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/02-html-clean.png" alt="html cleaner" width="45" /> Trabajo: Administrador IT</li>
    <li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/03-docs-to-html.png" alt="Word to html" width="45" /> Estado civil: Casado</li>
    <li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/04-replace.png" alt="replace text" width="45" /> Ubicaci&oacute;n: San Andres, Buenos Aires, Argentina</li>
    </ol>
    
    <h2 style="color: #2e6c80;">Como me veo:</h2>
    <p>Soy una persona responsable y de f&aacute;cil de aprendizaje. <br />Tengo experiencia en trabajo de grupo. Me agradan los desaf&iacute;os y me gusta poder resolver los problemas que se me presentan.<br />Me siento muy motivado por seguir creciendo como profesional, aprendiendo y al mismo tiempo compartiendo mi propia experiencia..&nbsp;</p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
    <hr />
    <h2 style="color: #2e6c80;">Caracteristicas de Contame App:</h2>
    <table class="editorDemoTable" style="border: 2px black solid;">
    <thead>
    <tr style="border: 2px black solid;">
    <td style="border: 2px black solid;">Caracteristica</td>
    <td style="border: 2px black solid;">Descripci&oacute;n</td>
    <td style="border: 2px black solid;">Ya disponible</td>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td style="border: 2px black solid;">Alta, baja y modificaci&oacute;n de Monedas</td>
    <td style="border: 2px black solid;">Agregar, quitar o modificar Monedas</td>
    <td style="border: 2px black solid;">Si</td>
    </tr>
    <tr>
    <td style="border: 2px black solid;">Alta, baja y modificaci&oacute;n de Cuentas y Subcuentas</td>
    <td style="border: 2px black solid;">Agregar, quitar o modificar Cuentas y Subcuentas</td>
    <td style="border: 2px black solid;">Si</td>
    </tr>
    <tr>
    <td style="border: 2px black solid;">Alta, baja y modificaci&oacute;n de Asientos</td>
    <td style="border: 2px black solid;">Agregar, quitar o modificar Asientos tanto de Gastos, de Ingresos o de Transferencias entre cuentas</td>
    <td style="border: 2px black solid;">Si</td>
    </tr>
    <tr>
    <td style="border: 2px black solid;">Alta, baja y modificaci&oacute;n de Usuarios</td>
    <td style="border: 2px black solid;">Agregar, quitar o modificar Usuarios</td>
    <td style="border: 2px black solid;">Si</td>
    </tr>
    <tr>
    <td style="border: 2px black solid;">Busquedas dinamicas en todos los modelos</td>
    <td style="border: 2px black solid;">Cuadro de busqueda el listado de Monedas, Cuentas, Subcuentas, Asientos</td>
    <td style="border: 2px black solid;">Si</td>
    </tr>
    <tr>
    <td style="border: 2px black solid;">Tablero con totales de Ingresos, Egresos y Ganancia, mensual y anual</td>
    <td style="border: 2px black solid;">Tablero con totales de Ingresos, Egresos y Ganancia, mensual y anual</td>
    <td style="border: 2px black solid;">Si</td>
    </tr>
    <tr>
        <td style="border: 2px black solid;">Diseño web adaptable (Responsive)</td>
        <td style="border: 2px black solid;">Adaptable a cualquier pantalla</td>
        <td style="border: 2px black solid;">Si</td>
        </tr>
    <tr>
    <td style="border: 2px black solid;">Tablero con grafico de torta con Gastos por Cuentas</td>
    <td style="border: 2px black solid;">Tablero con grafico de torta con Gastos por Cuentas</td>
    <td style="border: 2px black solid;">Planificado</td>
    </tr>
    <tr>
    <td style="border: 2px black solid;">Tablero con grafico de lineal Ganancias acumuladas por mes</td>
    <td style="border: 2px black solid;">Tablero con grafico de lineal Ganancias acumuladas por mes</td>
    <td style="border: 2px black solid;">Planificado</td>
    </tr>
    <tr>
        <td style="border: 2px black solid;">Página Acerca mas linda</td>
        <td style="border: 2px black solid;">Página Acerca mejorada</td>
        <td style="border: 2px black solid;">Planificado</td>
        </tr>    
    </tbody>
    </table>
</div>                        
{% endblock contenido %}