{% extends 'appcontame/index.html' %}


{% block titulo_pagina %}
<title>Contame App - Formulario Cuentas</title> 
{% endblock titulo_pagina %}
    

{% block titulo %}
<h1 class="h3 mb-0 text-gray-800">Cuentas</h1>
{% endblock titulo %}

{% block contenido %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Detalle de la Cuenta: {{cuenta}}
    </div>
    <div class="card-body">
        <form action="" method="POST">
            {% csrf_token %}
            <input type="button" value="Volver" onclick="window.location='{% url "cuentas" %}'" class="btn btn-success btn-user" />
        </form>
    </div>
</div>                        
{% endblock contenido %}