{% extends 'appcontame/index.html' %}


{% block titulo_pagina %}
<title>Contame App - Formulario Cuentas</title> 
{% endblock titulo_pagina %}
    

{% block titulo %}
<h1 class="h3 mb-0 text-gray-800">Cuentas</h1>
{% endblock titulo %}

{% block contenido %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Eliminar una Cuenta
    </div>
    <div class="card-body">
        <form action="" method="POST">
            {% csrf_token %}
            <p>Vas a eliminar la cuenta: "{{cuenta}}"</p>
            <input type="submit" value="Eliminar" class="btn btn-primary btn-user">
            <input type="button" value="Cancelar" onclick="window.location='{% url "cuentas" %}'" class="btn btn-danger btn-user" />
        </form>
    </div>
</div>                        
{% endblock contenido %}